<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Climate Guard - Flight Emissions</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/themify-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/selectFX/css/cs-skin-elastic.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


</head>

<body>
    <!-- Left Panel -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <!-- Right Panel -->
    <script>
        var airport_statistics = null;
        $(document).ready(function() {
            // AJAX request to Flask to get data
            $.ajax({
                type: "GET",
                url: "/data",
                contentType: "application/json;charset=UTF-8",
                success: function(response) {
                    console.log("Airport data:", response.airport_statistics);
                    // Handle the data as needed
                    airport_statistics = response.airport_statistics;
                    total_yearly_emissions = response.total_yearly_emissions.emissions;
                    total_departures = response.total_departures.departures;

                    // Build the Airport Staistics table
                    let table = document.getElementById("airport-table");

                    for (var i = 0; i < 7; i++) {
                        let newTableRow = document.createElement("tr");

                        let newTableAirportRow = document.createElement("td");
                        var text = document.createTextNode(airport_statistics["departureAirportName"][i]);
                        newTableAirportRow.appendChild(text);

                        let newTableMayRow = document.createElement("td");
                        newTableMayRow.innerText = (airport_statistics["May"][i]/1000).toLocaleString('en-US', {
                                                                style: 'decimal',
                                                                minimumFractionDigits: 1,
                                                                maximumFractionDigits: 1
                                                            }) + " tons";

                        let newTableJunRow = document.createElement("td");
                        newTableJunRow.innerText = (airport_statistics["Jun"][i]/1000).toLocaleString('en-US', {
                                                                style: 'decimal',
                                                                minimumFractionDigits: 1,
                                                                maximumFractionDigits: 1
                                                            }) + " tons";

                        let newTableJulRow = document.createElement("td");
                        newTableJulRow.innerText = (airport_statistics["Jul"][i]/1000).toLocaleString('en-US', {
                                                                style: 'decimal',
                                                                minimumFractionDigits: 1,
                                                                maximumFractionDigits: 1
                                                            }) + " tons";

                        let newTableAugRow = document.createElement("td");
                        newTableAugRow.innerText = (airport_statistics["Aug"][i]/1000).toLocaleString('en-US', {
                                                                style: 'decimal',
                                                                minimumFractionDigits: 1,
                                                                maximumFractionDigits: 1
                                                            }) + " tons";

                        let newTableSepRow = document.createElement("td");
                        newTableSepRow.innerText = (airport_statistics["Sep"][i]/1000).toLocaleString('en-US', {
                                                                style: 'decimal',
                                                                minimumFractionDigits: 1,
                                                                maximumFractionDigits: 1
                                                            }) + " tons";

                        let newTableOctRow = document.createElement("td");
                        newTableOctRow.innerText = (airport_statistics["Oct"][i]/1000).toLocaleString('en-US', {
                                                                style: 'decimal',
                                                                minimumFractionDigits: 1,
                                                                maximumFractionDigits: 1
                                                            }) + " tons";

                        let newTableNovRow = document.createElement("td");
                        newTableNovRow.innerText = (airport_statistics["Nov"][i]/1000).toLocaleString('en-US', {
                                                                style: 'decimal',
                                                                minimumFractionDigits: 1,
                                                                maximumFractionDigits: 1
                                                            }) + " tons";

                        newTableRow.append(newTableAirportRow);
                        newTableRow.append(newTableMayRow);
                        newTableRow.append(newTableJunRow);
                        newTableRow.append(newTableJulRow);
                        newTableRow.append(newTableAugRow);
                        newTableRow.append(newTableSepRow);
                        newTableRow.append(newTableOctRow);
                        newTableRow.append(newTableNovRow);

                        table.append(newTableRow)
                    }

                    //Build the cards
                    let emissions_card = document.getElementById("emissions-card");
                    emissions_card.style.backgroundColor = "rgb(24, 111, 101)";
                    let emissions_div = document.createElement("div");
                    emissions_div.className = "card-body pb-0";
                    let emissions_text = document.createElement("h4");
                    emissions_text.className = "mb-0";
                    let emissions_span = document.createElement("span");
                    emissions_span.className = "count";
                    emissions_span.innerText = total_yearly_emissions + " million metric tonnes";
                    let emissions_para = document.createElement("p");
                    emissions_para.className = "text-light";
                    emissions_para.innerText = "Total CO2 Emissions in last 6 months";
                    let br1 = document.createElement("br");

                    emissions_card.appendChild(emissions_div)
                    emissions_div.appendChild(emissions_para);
                    emissions_div.appendChild(emissions_text);
                    emissions_text.appendChild(emissions_span);
                    emissions_div.appendChild(br1);


                    let departure_card = document.getElementById("departure-card");
                    departure_card.style.backgroundColor = "rgb(181, 203, 153)";
                    let departure_div = document.createElement("div");
                    departure_div.className = "card-body pb-0";
                    let departure_text = document.createElement("h4");
                    departure_text.className = "mb-0";
                    let departure_span = document.createElement("span");
                    departure_span.className = "count";
                    departure_span.innerText = parseInt(total_departures).toLocaleString();
                    let departure_para = document.createElement("p");
                    departure_para.className = "text-light";
                    departure_para.innerText = "Total flight departures in last 6 months";
                    let br2 = document.createElement("br");

                    departure_card.appendChild(departure_div);
                    departure_div.appendChild(departure_para);
                    departure_div.appendChild(departure_text);
                    departure_text.appendChild(departure_span);
                    departure_div.appendChild(br2);
                   
                },
                error: function(error) {
                    console.error("Error:", error);
                }
            });
        });
    </script>

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="{{ url_for('static', filename='images/climateguardlogo.png') }}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <h3 class="menu-title">Dashboard Features</h3><!-- /.menu-title -->
                    <li>
                        <a href="{{ url_for('charts') }}"> <i class="menu-icon fa fa-laptop"></i>Flight Emissions</a>
                    </li>
                    <li>
                        <a href="{{ url_for('fuelemissions') }}"> <i class="menu-icon fa fa-table"></i>Sector & Fuel Emissions</a>
                    </li>
                    <li>
                        <a href="{{ url_for('ngo') }}"> <i class="menu-icon fa fa-table"></i>NGO</a>
                    </li>
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-email"></i>
                                <span class="count bg-primary">9</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{ url_for('static', filename='images/avatar/1.jpg') }}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{ url_for('static', filename='images/avatar/2.jpg') }}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{ url_for('static', filename='images/avatar/3.jpg') }}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{ url_for('static', filename='images/avatar/4.jpg') }}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{{ url_for('static', filename='images/admin.jpg') }}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Flight Emissions</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-flat-color-1" id="emissions-card">
                <!-- <div class="card-body pb-0" id="emissions-card"> -->
                    
                    <!-- <p class="text-light">Total CO2 Emissions generated in last 6 months</p> -->

                    <!-- <div class="chart-wrapper px-0" style="height:70px;" height="70">
                        <canvas id="widgetChart1"></canvas>
                    </div> -->

                <!-- </div> -->

            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-flat-color-3" id="departure-card">
                <!-- <div class="card-body pb-0" id="departure-card"> -->
                    
                    <!-- <p class="text-light">Total flight departures in last 6 months</p> -->

                    <!-- <div class="chart-wrapper px-0" style="height:70px;" height="70">
                        <canvas id="widgetChart3"></canvas>
                    </div> -->

                <!-- </div> -->
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Monthly Aggregate Carbon Emissions</h4>
                                <canvas id="singelBarChart"></canvas>
                            </div>
                        </div>
                    </div><!-- /# column -->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Weekly Aggregate Carbon Emissions </h4>
                                <canvas id="weekly-emissions-chart"></canvas>
                            </div>
                        </div>
                    </div><!-- /# column -->

                    
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Airport Aggregate Emissions <p>(in million metric tonnes)</p></h4>
                                <canvas id="doughutChart"></canvas>
                            </div>
                        </div>
                    </div><!-- /# column -->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Maximum & Average Carbon Emissions</h4>
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>
                    </div>

        
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Monthly Distance Covered by Flights </h4>
                                <canvas id="distance-chart"></canvas>
                            </div>
                        </div>
                    </div><!-- /# column -->

                     <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Airport Emissions Comparison </h4>
                                <canvas id="airport-comparison-chart"></canvas>
                            </div>
                        </div>
                    </div><!-- /# column -->


                </div>



                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Airport Monthly Statistics</strong>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Departure Airport</th>
                                            <th>May</th>
                                            <th>Jun</th>
                                            <th>Jul</th>
                                            <th>Aug</th>
                                            <th>Sep</th>
                                            <th>Oct</th>
                                            <th>Nov</th>
                                        </tr>
                                    </thead>
                                    <tbody id="airport-table">
                                        
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>

            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->


    <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!--  Chart js -->
    <script src="{{ url_for('static', filename='vendors/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init-scripts/chart-js/chartjs-init.js') }}"></script>
    

</body>

</html>
