<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/style.css"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/themify-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/selectFX/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/jqvmap/dist/jqvmap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <style>
        h2, h1, h5 {
            text-align: center;
            font-family:Georgia, 'Times New Roman', Times, serif
        }
        p {
            text-align: justify;
            font-size: large;
            color: gray;
            font-family:Georgia, 'Times New Roman', Times, serif;
            padding-left: 8%;
            padding-right: 8%;
        }
        ol,li {
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: gray;
            font-size: large;
            padding-left: 8%;
            padding-right: 8%;
        }
        img{
            padding-left: 10%;
            padding-right: 10%;
        }
        .tab{
            tab-size: 2;
        }

    </style>

</head>

<body>


    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <div class="header-left">

                        <div class="col-sm-6">
                            <img src="{{ url_for('static', filename='images/logo-color.png') }}">
                        </div>

                    </div>
                </div>
                

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li"><a href="{{ url_for('charts') }}">Dashboard</a></li>
                            </ol>
                        </div>
                        
                    </div>

                    
                </div>
            </div>

        </header>

        
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
 
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12">
                    <div class="page-title">
                        <img src="{{ url_for('static', filename='images/climate-homepage.jpg') }}"width = "1500" height = "600" class="center"></image>
                    </div>
            </div>
        </div>

        <div class="content mt-3">
            
            <h2>Objective</h2>
            <div class="col-md-12">
                    <div class="card-body">
                        <p class="card-text">Analyze US flight emissions, assess environmental impact of energy consumption, and promote sustainability through eco-friendly travel and responsible energy choices.</p>
                    </div>
                <!-- </div> -->
            </div>


            <h2>Motivation</h2>
            <div class="col-md-12">
                    <div class="card-body">
                        <p class="card-text">Carbon emissions, a grave threat, result in global warming and climate issues. Negligence demands urgent global focus. Our project uses cloud computing to analyze and reduce flight and energy-related carbon footprints for sustainability.</p>
                    </div>
                <!-- </div> -->
            </div>

            <h2>Scope</h2>
            <div class="col-lg-12">
                <div class="card-body">
                    <p class="card-text">The scope of this project includes building an interactive dashboard that allows users to perform comprehensive data analysis and time series forecasting of carbon emissions related data, and study the long term adverse effects of carbon footprint on environment and ecology through a causal inference of the data. They can additionally educate themselves about the sustainability initiatives and green solutions for curbing these issues.

                        The following features will be incorporated in the dashboard: <br><br>


                        1. Monitor and analyze carbon emissions associated with a broad range of emission generating activities in the modern world.<br>
                        2. Understand the correlation between fuel usage (Coal, Natural Gas, Petroleum) and CO2 emissions associated with different sectors such as Commercial, Industrial, Residential, etc.<br>
                        3. Provide a platform for non-profit organizations to advocate for sustainability and green solutions at an organizational level and to raise awareness about individual carbon footprint and motivate the general public to be eco-friendly and environmentally responsible.
                        
                    </p>
                </div>

            </div>

            <h2>Stakeholders</h2>
            <div class="col-md-12">
                    <div class="card-body">
                        <p class="card-text">The following diverse group of stakeholders can utilize our dashboard analytics to lead innovative sustainability initiatives in their respective sectors.
                            <br>
                            <br>
                        1.    Aviation Sector: Major airlines, regional airports, and industry associations play pivotal roles in emissions reduction within the domestic flight domain. Our flight emissions analytics can aid them in inspecting frequent flight routes and incorporating green solutions and optimization strategies that can help curb the massive carbon footprint generated by the aviation industry.<br>
                        2. Environmental Advocates: Environmental organizations and advocates champion sustainability, influencing both aviation and digital sectors. They can use our dashboard to influence sustainable and environmentally responsible initiatives on a government and organizational level, and direct funds to the right cause.<br>
                        3. Regulatory Bodies: Government agencies and regulators oversee compliance with environmental standards in aviation and internet governance. They can be persuaded to make strong regulatory laws that promote sustainability within these sectors.<br>
                        4. Consumers and Users: Individuals and organizations, as end-users, impact emissions through choices in travel and energy consumption activities, making them pivotal stakeholders in sustainability advocacy.
                        </p>
                    </div>
            </div>
            
        </div>



        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script src="{{ url_for('static', filename='vendors/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widgets.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>

    <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>
