<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ClimateGuard - Sector & Fuel Emissions</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/themify-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/selectFX/css/cs-skin-elastic.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


</head>

<body>
   
    <!-- Left Panel -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <!-- Right Panel -->
    <script>
        
    </script>

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="{{ url_for('static', filename='images/climateguardlogo.png') }}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <h3 class="menu-title">Dashboard Features</h3><!-- /.menu-title -->
                    <li>
                        <a href="{{ url_for('charts') }}"> <i class="menu-icon fa fa-laptop"></i>Flight Emissions</a>
                    </li>
                    <li>
                        <a href="{{ url_for('fuelemissions') }}"> <i class="menu-icon fa fa-table"></i>Sector & Fuel Emissions</a>
                    </li>
                    <li>
                        <a href="{{ url_for('ngo') }}"> <i class="menu-icon fa fa-table"></i>NGO Interface</a>
                    </li>
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{{ url_for('static', filename='images/admin.jpg') }}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">NGO Interface</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">

            <div class="col-xl-3 col-lg-6">
                <section class="card">
                    <div class="twt-feed blue-bg">
                        <!-- <div class="corner-ribon black-ribon">
                            <i class="fa fa-twitter"></i>
                        </div> -->
                        <!-- <div class="fa fa-twitter wtt-mark"></div> -->

                        <div class="media">
                            <!-- <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                            </a> -->
                            <div class="media-body">
                                <h2 class="text-white display-6">World Wild Life</h2>
                                <p class="text-light">	
                                    Environmentalism |
                                    Conservation |
                                    Ecology</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>750</h5>
                                Donations
                            </li>
                            <li>
                                <h5>865</h5>
                                Following
                            </li>
                            <li>
                                <h5>3645</h5>
                                Followers
                            </li>
                        </ul>
                    </div> -->
                    <!-- <div class="twt-write col-sm-12">
                        <textarea placeholder="Write your Tweet and Enter" rows="1" class="form-control t-text-area"></textarea>
                    </div> -->
                    <div class="card-body">
                        <h4 class="card-title mb-3">Mission Statement</h4>
                        <p class="card-text" style="width: 100%;
                        /* this code clamps based on specified lines */
                        overflow: hidden;
                       -webkit-box-orient: vertical;
                      -webkit-line-clamp: 4;
                      display: -webkit-box;">Create a climate-resilient and zero-carbon world, powered by renewable energy. Our mission is to conserve nature and reduce the most pressing threats to the diversity of life on Earth.</p>
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/www.worldwildlife.org/initiatives/climate';">Know More</button> 
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/protect.worldwildlife.org/page/52717/donate/1?en_og_source=Web_Donation';">Donate!</button>
                    </div>
                    <footer class="twt-footer">
                        <!-- <a href="#"><i class="fa fa-camera"></i></a> -->
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                        Worldwide
                        <!-- <span class="pull-right">
                            32
                        </span> -->
                    </footer>
                </section>
            </div>

            <div class="col-xl-3 col-lg-6">
                <section class="card">
                    <div class="twt-feed blue-bg">
                        <!-- <div class="corner-ribon black-ribon">
                            <i class="fa fa-twitter"></i>
                        </div> -->
                        <!-- <div class="fa fa-twitter wtt-mark"></div> -->

                        <div class="media">
                            <!-- <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                            </a> -->
                            <div class="media-body">
                                <h2 class="text-white display-6">Carbon180</h2>
                                <p class="text-light">Carbon removal</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>750</h5>
                                Donations
                            </li>
                            <li>
                                <h5>865</h5>
                                Following
                            </li>
                            <li>
                                <h5>3645</h5>
                                Followers
                            </li>
                        </ul>
                    </div> -->
                    <!-- <div class="twt-write col-sm-12">
                        <textarea placeholder="Write your Tweet and Enter" rows="1" class="form-control t-text-area"></textarea>
                    </div> -->
                    <div class="card-body">
                        <h4 class="card-title mb-3">Mission Statement</h4>
                        <p class="card-text" style="width: 100%;
                        /* this code clamps based on specified lines */
                        overflow: hidden;
                       -webkit-box-orient: vertical;
                      -webkit-line-clamp: 4;
                      display: -webkit-box;">Carbon180 designs and champions science-based, equitable policies that can remove carbon from the atmosphere.</p>
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/carbon180.org/';">Know More</button>
                        
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/carbon180.org/donate';"> 
                          
                            Donate!
                            
                        </button>
                    </div>
                    <footer class="twt-footer">
                        <!-- <a href="#"><i class="fa fa-camera"></i></a> -->
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                        Washington, D.C. , US
                        <!-- <span class="pull-right">
                            32
                        </span> -->
                    </footer>
                </section>
            </div>

            <div class="col-xl-3 col-lg-6">
                <section class="card">
                    <div class="twt-feed blue-bg">
                        <!-- <div class="corner-ribon black-ribon">
                            <i class="fa fa-twitter"></i>
                        </div> -->
                        <!-- <div class="fa fa-twitter wtt-mark"></div> -->

                        <div class="media">
                            <!-- <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                            </a> -->
                            <div class="media-body">
                                <h2 class="text-white display-6">As You Sow</h2>
                                <p class="text-light">Energy | Environmental Health | Waste</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>750</h5>
                                Donations
                            </li>
                            <li>
                                <h5>865</h5>
                                Following
                            </li>
                            <li>
                                <h5>3645</h5>
                                Followers
                            </li>
                        </ul>
                    </div> -->
                    <!-- <div class="twt-write col-sm-12">
                        <textarea placeholder="Write your Tweet and Enter" rows="1" class="form-control t-text-area"></textarea>
                    </div> -->
                    <div class="card-body">
                        <h4 class="card-title mb-3">Mission Statement</h4>
                        <p class="card-text" style="width: 100%;
                        /* this code clamps based on specified lines */
                        overflow: hidden;
                       -webkit-box-orient: vertical;
                      -webkit-line-clamp: 4;
                      display: -webkit-box;">Promote environmental and social corporate responsibility through shareholder advocacy, coalition building, and innovative legal strategies.</p>
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/www.asyousow.org/about-us'">Know More</button> 
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/www.asyousow.org/donate'">Donate!</button>
                    </div>
                    <footer class="twt-footer">
                        <!-- <a href="#"><i class="fa fa-camera"></i></a> -->
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                        CA, US
                        <!-- <span class="pull-right">
                            32
                        </span> -->
                    </footer>
                </section>
            </div>

            <div class="col-xl-3 col-lg-6">
                <section class="card">
                    <div class="twt-feed blue-bg">
                        <!-- <div class="corner-ribon black-ribon">
                            <i class="fa fa-twitter"></i>
                        </div> -->
                        <!-- <div class="fa fa-twitter wtt-mark"></div> -->

                        <div class="media">
                            <!-- <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                            </a> -->
                            <div class="media-body">
                                <h2 class="text-white display-6">Climate Group</h2>
                                <p class="text-light">Carbon Emissions</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>750</h5>
                                Donations
                            </li>
                            <li>
                                <h5>865</h5>
                                Following
                            </li>
                            <li>
                                <h5>3645</h5>
                                Followers
                            </li>
                        </ul>
                    </div> -->
                    <!-- <div class="twt-write col-sm-12">
                        <textarea placeholder="Write your Tweet and Enter" rows="1" class="form-control t-text-area"></textarea>
                    </div> -->
                    <div class="card-body">
                        <h4 class="card-title mb-3">Mission Statement</h4>
                        <p class="card-text" style="width: 100%;
                        /* this code clamps based on specified lines */
                        overflow: hidden;
                       -webkit-box-orient: vertical;
                      -webkit-line-clamp: 4;
                      display: -webkit-box;">Our mission is to drive climate action. Fast. Our goal is a world of net zero carbon emissions by 2050, with greater prosperity for all.</p>

                        <!-- <p  class='truncate'></p> -->
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/www.theclimategroup.org/'">Know More</button> 
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/support.theclimategroup.org/give/280085/#!/donation/checkout'">Donate!</button>
                    </div>
                    <footer class="twt-footer">
                        <!-- <a href="#"><i class="fa fa-camera"></i></a> -->
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                        London, UK
                        <!-- <span class="pull-right">
                            32
                        </span> -->
                    </footer>
                </section>
            </div>

            <div class="col-xl-3 col-lg-6">
                <section class="card">
                    <div class="twt-feed blue-bg">
                        <!-- <div class="corner-ribon black-ribon">
                            <i class="fa fa-twitter"></i>
                        </div> -->
                        <!-- <div class="fa fa-twitter wtt-mark"></div> -->

                        <div class="media">
                            <!-- <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                            </a> -->
                            <div class="media-body">
                                <h2 class="text-white display-6">World Wild Life</h2>
                                <p class="text-light">	
                                    Environmentalism |
                                    Conservation |
                                    Ecology</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>750</h5>
                                Donations
                            </li>
                            <li>
                                <h5>865</h5>
                                Following
                            </li>
                            <li>
                                <h5>3645</h5>
                                Followers
                            </li>
                        </ul>
                    </div> -->
                    <!-- <div class="twt-write col-sm-12">
                        <textarea placeholder="Write your Tweet and Enter" rows="1" class="form-control t-text-area"></textarea>
                    </div> -->
                    <div class="card-body">
                        <h4 class="card-title mb-3">Mission Statement</h4>
                        <p class="card-text" style="width: 100%;
                        /* this code clamps based on specified lines */
                        overflow: hidden;
                       -webkit-box-orient: vertical;
                      -webkit-line-clamp: 4;
                      display: -webkit-box;">Create a climate-resilient and zero-carbon world, powered by renewable energy.</p>
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/www.worldwildlife.org/initiatives/climate';">Know More</button> 
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/protect.worldwildlife.org/page/52717/donate/1?en_og_source=Web_Donation';">Donate!</button>
                    </div>
                    <footer class="twt-footer">
                        <!-- <a href="#"><i class="fa fa-camera"></i></a> -->
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                        Worldwide
                        <!-- <span class="pull-right">
                            32
                        </span> -->
                    </footer>
                </section>
            </div>

            <div class="col-xl-3 col-lg-6">
                <section class="card">
                    <div class="twt-feed blue-bg">
                        <!-- <div class="corner-ribon black-ribon">
                            <i class="fa fa-twitter"></i>
                        </div> -->
                        <!-- <div class="fa fa-twitter wtt-mark"></div> -->

                        <div class="media">
                            <!-- <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                            </a> -->
                            <div class="media-body">
                                <h2 class="text-white display-6">Carbon180</h2>
                                <p class="text-light">Carbon removal</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>750</h5>
                                Donations
                            </li>
                            <li>
                                <h5>865</h5>
                                Following
                            </li>
                            <li>
                                <h5>3645</h5>
                                Followers
                            </li>
                        </ul>
                    </div> -->
                    <!-- <div class="twt-write col-sm-12">
                        <textarea placeholder="Write your Tweet and Enter" rows="1" class="form-control t-text-area"></textarea>
                    </div> -->
                    <div class="card-body">
                        <h4 class="card-title mb-3">Mission Statement</h4>
                        <p class="card-text" style="width: 100%;
                        /* this code clamps based on specified lines */
                        overflow: hidden;
                       -webkit-box-orient: vertical;
                      -webkit-line-clamp: 4;
                      display: -webkit-box;">Carbon180 designs and champions science-based, equitable policies that can remove carbon from the atmosphere.</p>
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/carbon180.org/';">Know More</button>
                        
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/carbon180.org/donate';"> 
                          
                            Donate!
                            
                        </button>
                    </div>
                    <footer class="twt-footer">
                        <!-- <a href="#"><i class="fa fa-camera"></i></a> -->
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                        Washington, D.C. , US
                        <!-- <span class="pull-right">
                            32
                        </span> -->
                    </footer>
                </section>
            </div>

            <div class="col-xl-3 col-lg-6">
                <section class="card">
                    <div class="twt-feed blue-bg">
                        <!-- <div class="corner-ribon black-ribon">
                            <i class="fa fa-twitter"></i>
                        </div> -->
                        <!-- <div class="fa fa-twitter wtt-mark"></div> -->

                        <div class="media">
                            <!-- <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                            </a> -->
                            <div class="media-body">
                                <h2 class="text-white display-6">As You Sow</h2>
                                <p class="text-light">Energy | Environmental Health | Waste</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <h4 class="card-title mb-3">Mission Statement</h4>
                        <p class="card-text" style="width: 100%;
                        /* this code clamps based on specified lines */
                        overflow: hidden;
                       -webkit-box-orient: vertical;
                      -webkit-line-clamp: 4;
                      display: -webkit-box;">Promote environmental and social corporate responsibility through shareholder advocacy, coalition building, and innovative legal strategies.</p>
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/www.asyousow.org/about-us'">Know More</button> 
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/www.asyousow.org/donate'">Donate!</button>
                    </div>
                    <footer class="twt-footer">
                        <!-- <a href="#"><i class="fa fa-camera"></i></a> -->
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                        CA, US
                        <!-- <span class="pull-right">
                            32
                        </span> -->
                    </footer>
                </section>
            </div>

            <div class="col-xl-3 col-lg-6">
                <section class="card">
                    <div class="twt-feed blue-bg">
                        <!-- <div class="corner-ribon black-ribon">
                            <i class="fa fa-twitter"></i>
                        </div> -->
                        <!-- <div class="fa fa-twitter wtt-mark"></div> -->

                        <div class="media">
                            <!-- <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                            </a> -->
                            <div class="media-body">
                                <h2 class="text-white display-6">Climate Group</h2>
                                <p class="text-light">Carbon Emissions</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <h4 class="card-title mb-3">Mission Statement</h4>
                        <p class="card-text" style="width: 100%;
                        /* this code clamps based on specified lines */
                        overflow: hidden;
                       -webkit-box-orient: vertical;
                      -webkit-line-clamp: 4;
                      display: -webkit-box;">Our mission is to drive climate action. Fast. Our goal is a world of net zero carbon emissions by 2050, with greater prosperity for all.</p>

                        <!-- <p  class='truncate'></p> -->
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/www.theclimategroup.org/'">Know More</button> 
                        <button type="button" class="btn btn-primary" onclick="location.href = 'https\:\/\/support.theclimategroup.org/give/280085/#!/donation/checkout'">Donate!</button>
                    </div>
                    <footer class="twt-footer">
                        <!-- <a href="#"><i class="fa fa-camera"></i></a> -->
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                        London, UK
                        <!-- <span class="pull-right">
                            32
                        </span> -->
                    </footer>
                </section>
            </div>




            <!-- <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Total Profit</div>
                                <div class="stat-digit">1,012</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">New Customer</div>
                                <div class="stat-digit">961</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Active Projects</div>
                                <div class="stat-digit">770</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4>World</h4>
                    </div>
                    <div class="Vector-map-js">
                        <div id="vmap" class="vmap" style="height: 265px;"></div>
                    </div>
                </div> -->
                <!-- /# card -->
            <!-- </div> -->


        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->
    <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!--  Chart js -->
    <script src="{{ url_for('static', filename='vendors/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/init-scripts/chart-js/fuelchart.js') }}"></script> -->
    <script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/widgets.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>

    <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>


</body>

</html>
